<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head') %>
<body>
    <%- include('./layout/header') %>

    <form action="/character/my-characters" method="POST">
        
        <input type="text" name="name" placeholder="name" >
        <input type="text" name="house" placeholder="house">
        <input type="text" name="patronus" placeholder="patronus" >
        <input type="text" name="is_alive" placeholder="is_alive" >
        <input type="submit" value="create">
    
    </form>
    
</body>
</html>