<header>
    <ul>
        <li><a href="/home">home</a></li>
        
        <li><a href="/character/create">create</a></li>
        <li><a href="/mycharacter">mycharacter</a></li>
        <li><a href="/myfavorite-character">myfavorite-character</a></li>
      
    </ul>
</header>
